# cache
__pycache__

# backup
old
css/lscss1.py

# logs
runs
logs/*
!logs/experiment_results_20250604_033443.json

# plots
output_plots/*
!output_plots/CMHS_error_ratio_vs_k.png
!output_plots/CMHS_runtime_vs_k.png

# datasets
datasets/cmhs/*
!datasets/cmhs/load.py
!datasets/cmhs/detail.py

# profiling
output.prof